# Shared
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/astro_payload_app

# CMS
PAYLOAD_SECRET=replace-with-a-long-random-secret
PAYLOAD_CONFIG_PATH=src/payload.config.ts
CMS_BASE_URL=http://127.0.0.1:3001

# Web
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_CMS_URL=http://127.0.0.1:3001
